@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
    font-family: DINNextLTArabic;
    src: url("./assets/fonts/DINNextLTArabicRegular.ttf");
    font-weight: 400;
}

@font-face {
    font-family: DINNextLTArabic;
    src: url("./assets/fonts/DINNextLTArabicMedium.ttf");
    font-weight: 500;
}

@font-face {
    font-family: DINNextLTArabic;
    src: url("./assets/fonts/DINNextLTArabicBold.ttf");
    font-weight: 700;
}

@font-face {
    font-family: DINNextLTArabic;
    src: url("./assets/fonts/DINNextLTArabicBlack.ttf");
    font-weight: 900;
}

* {
    font-family: DINNextLTArabic, Cairo, sans-serif !important;
    -webkit-tap-highlight-color: transparent !important;
}

:root {
    font-family: DINNextLTArabic, Cairo, sans-serif !important;
    line-height: 1.5;

    color-scheme: light dark;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
}
